/*Admin menu*/
.text-center {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 600px;
    width: 250px;
    background-color: #5F9EA0;
}
  
.list-group {
    max-width: 300px;
}

.list-group-item {
    background-color: #5F9EA0;
    color: black;
    font-size: 20px;
    font-weight: 500;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
}

.list-group-item:hover {
    color: red;
    background-color: #FFF8DC;
}

/* Account Admin */
.account_container {
    margin: 20px;
}

.account_container h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #f00;
}

.account_container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.account_container th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.account_container th {
    background-color: #f2f2f2;
}

.account_container .lock {
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    margin-right: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.account_container .repass {
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.account_container .delete {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.account_container .unlock {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    margin-right: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.account_container .lock:hover {
    background-color: #45a049;
}

.account_container .unlock:hover {
    background-color: orange;
}

.account_container .repass:hover {
    background-color: brown;
}

.account_container .delete:hover {
    background-color: gray;
}

/* Re-issue Password */
/* CSS cho form cấp lại mật khẩu */
.repass_container {
    margin-top: 30px;
}

.repass_container form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.repass_container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

.repass_container .form-control {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.repass_container .btn-primary {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.repass_container .btn-primary:hover {
    background-color: #0056b3;
}

.repass_container .btn-primary:active {
    background-color: #0056b3;
    transform: translateY(1px);
}

/* Create doctor account */
.create_account_doctor {
    width: 600px;
    margin: 0 auto;
    padding: 5px;
  }
  
.create_account_doctor form {
    background-color: #f8f9fa;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.create_account_doctor h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  
.create_account_doctor .mb-3 {
    margin-bottom: 15px;
  }
  
.create_account_doctor .form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
.create_account_doctor label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

.create_account_doctor .gender {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.create_account_doctor .gender select {
    width: 40%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.create_account_doctor .btn-primary {
    background-color: #33CC33;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.create_account_doctor .btn-primary:hover {
    background-color: #0056b3;
  }

/* Patient Record */
.record_container {
    margin: 20px;
}

.record_container h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    color: #f00;
}

.record_container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.record_container th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.record_container th {
    background-color: #f2f2f2;
}


.record_container .read {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.record_container .create {
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.record_container .update {
    background-color: #5F9EA0;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    margin-right: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.record_container .delete {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.record_container .read:hover {
    background-color: orange;
}

.record_container .update:hover {
    background-color: brown;
}

.record_container .delete:hover {
    background-color: gray;
}

.record_container .search_patient {
    overflow: hidden;
}

.record_container .search_patient .form-control {
    float: left;
    width: calc(500px);
    padding-right: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.record_container .search_patient .ri-search-line {
    float: left;
    cursor: pointer;
    margin-top: 7px;
}

/* Patient Record Detail */
.col-md-9 {
    width: 75%;
}

.record_detail {
    margin-top: 20px;
}

.record_detail h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.record_detail .loading-message,
.record_detail .error-message {
    font-size: 18px;
    font-weight: bold;
}

.record_detail_container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.record_detail_container p {
    margin: 5px 0;
}

.record_detail .loading-message {
    color: #007bff; 
}

.record_detail .error-message {
    color: #dc3545;
}

/*Medical Record*/
.medicalrecord_container .read {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    margin-right: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.medicalrecord_container .update {
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    margin-right: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.medicalrecord_container .delete {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.medicalrecord_container .read:hover {
    background-color: #0056b3;
}

.medicalrecord_container .update:hover {
    background-color: green;
}

.medicalrecord_container .delete:hover {
    background-color: gray;
}

.medicalrecord_container .search_patient{
    max-width: 600px;
}

.medicalrecord_container .create_medical{
    margin-top: 4px;
    border-radius: 5px;
}

/* Diagnosis image */
.upload_image {
    margin-top: 20px;
}

.upload_image input[type='file'] {
    margin-bottom: 10px;
}

.upload_image button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.upload_image button:hover {
    background-color: #0056b3;
}

.upload_image img {
    margin-top: 10px;
    border: 1px solid #ccc;
}

.readimage {
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.readimage button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

.readimage .redict {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: orangered;
    color: white;
    border: none;
    cursor: pointer;
}
.readimage .redict:hover{
    background-color: rgb(212, 0, 255);
}

.readimage button:hover {
    background-color: rgb(0, 183, 255);
}

.readimage span {
    font-size: 20px;
    font-weight: 700;
}

.saveimage {
    padding: 20px;
    border: 1px solid #ccc;
}

.saveimage input[type='text'] {
    margin-bottom: 10px;
}

.saveimage button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.saveimage button:hover {
    background-color: #0056b3;
}